.hello {
    font: 15px Helvetica, Arial, sans-serif;
    background: rgb(160, 42, 42);
    padding: 100px;
    text-align: center;
    transition: 100ms ease-in background;
  }
  .hello:hover {
    background: rgb(19, 180, 86);
  }